/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Hero section */
.hero {
  width: 100%;
  min-height: 100vh;
  background: #eceaff;
  color: #525252;
}

/* Navigation bar */
nav {
  background: rgb(61, 89, 99);
  width: 100%;
  height: 70px;
  padding: 10px 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

/* Logo */
.logo {
  width: 65px;
  position: absolute;
  left: 0;
}

/* Hero paragraph */
.hero p {
  font-size: 20px;
  color: #ffffff;
  white-space: nowrap;
  font-weight: bold;
  margin-left: 70px;
  position: absolute;
  left: 0%;
}

/* User profile picture */
.user-pic {
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 30px;
}

/* Navigation menu */
nav ul {
  width: 100%;
  text-align: right;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  
   word-spacing: 2px;
  
}

/* Mudra section */
.mudra {
  border-radius: 5px;
  max-width: 500px;
  width: 100%;
  margin: 20px auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  position: absolute;
  background-color: #ffffff;
  top: 10%;
  left: 1%;
}

.mudra:hover {
  transform: scale(1.1);
}

/* Content section */
.content h1 {
  max-width: 500px;
  padding: 30px;
  position: absolute;
  background-color: white;
  top: 20%;
  left: 69%;
  transform: translateX(-50%);
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: lighter;
  width: calc(100% - 140px);
  text-align: center;
}

