body{
    
  
}
.clock::before {
    content: attr(data-time);
  }
  
  .clock::after {
    content: attr(data-ampm);
  }
  
  .clock {
    font-size: 0.8rem;
    font-weight: bold;
    color: #333;
    margin: 1rem;
    position: fixed;
    top: 0rem;
    right: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
  }
 
  @media (min-width: 768px) {
    .clock {
      font-size: 2.0rem;
    }
  }
  
  .container h1
  {
    color: #133679;
    text-align: center;
    position: fixed;
    top: 25%;
    left: 20%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 70px;
    white-space: nowrap;
    
  }
 button{
  border-radius: 10px;
  border-color: rgb(95, 87, 219);
  position: absolute;
    top: 55%;
    left: 45%;
    size: 100%;
    padding: 12px 24px;
    font-size: 1.8rem;
    background-color: aquamarine;
      appearance: auto;
      writing-mode: horizontal-tb !important;
      
      text-rendering: auto;
      color: rgb(38, 0, 255);
      letter-spacing: normal;
      word-spacing: normal;
      line-height: normal;
      text-transform: none;
      text-indent: 0px;
      text-shadow: blueviolet;
      display: inline-block;
      text-align: center;
 }
 .plus-button:hover {
  background-color: #3e8e41; /* change this value to adjust the background color when the button is hovered over */
}

 .header {
  position: fixed;
  top: 0;
  right: 0;
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: #333;
}
.date{
  font-size: 0.8rem;
  color: #133679;
  margin: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
}
