* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: black;
}
.container {
    position: relative;
  }
  img {
    display: block;
    width: 100%;
    height: auto;
  }
  .banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

  }
  .navbar {
    position: absolute;
    top: 35px; /* adjust this value as needed */
    left: 50%;
    transform: translateX(-50%);
   
  }
.banner {
    width: 100%;
    height: 100vh;
    background-image: url('../EDTECH/images/samuel-ferrara-1527pjeb6jg-unsplash.jpg');
    background-size: cover;
    background-position: center;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between ;
}

.logo {
    width: 120px;
    cursor: pointer;
    display: flex;
  flex-direction: column;
  align-self: flex-end;
  align-items: center;
  
}
.logo-text {
    font-size: 16px;
    color: #ffa500;
    text-align: center;
    margin-top: 10px;
    white-space: nowrap;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li:first-child {
  margin-right: auto;
  margin-left: 20px;
}


.navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #ffa500;
    position:absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}
.navbar ul li:first-child {
    margin-right: auto;
    margin-left: 20px;
  }
  
.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50);
    text-align: center;
    color: #fff;
}

.content h1 {
    font-size: 70px;
    margin-top: 80px;
}

.content p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}


button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #ffa500;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
span{
    background: #ffa500;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: width 0.5s ease-in-out;
    z-index: -1;
}
button:hover span{
    width: 100%;
}
    button:hover{
        color: #fff;
    }