* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


.hero {
  width: 100%;
  min-height: 100vh;
  background: lightblue;
  color: black;
}

nav {
  background: #1a1a1a;
  width: 100%;
  height: 70px;
  padding: 10px 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

table {
  background-color: white;
  border-color: purple;

}

.update {
  background-color: green;
  color: white;
  border: 0;
  outline: none;
  border-radius: 5px;
  height: 25px;
  width: 70px;
  font-weight: bold;
  cursor: pointer;
}

.delete {
  background-color: rgb(165, 30, 30);
  color: white;
  border: 0;
  outline: none;
  border-radius: 5px;
  height: 25px;
  width: 70px;
  font-weight: bold;
  cursor: pointer;
}

.report {
  background-color: darkmagenta;
  color: white;
  border: 0;
  outline: none;
  border-radius: 5px;
  height: 25px;
  width: 70px;
  font-weight: bold;
  cursor: pointer;
}

.logo {
  width: 200px;
  position: absolute;
  top: -120%;
}

.user-pic {
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 30px;
}

nav ul {
  width: 100%;
  text-align: right;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

.sub-menu-wrap {
  position: absolute;
  top: 100%;
  right: 10%;
  width: 320px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;
  background-color: #1a1a1a;
}

.sub-menu-wrap.open-menu {

  max-height: 400px;

}

.sub-menu {
  background: #fff;
  padding: 20px;
  margin: 10px;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info h3 {
  font-weight: 500;
}

.user-info img {
  width: 60px;
  border-radius: 50%;
  margin-right: 15px;
}

.sub-menu hr {
  border: 0;
  height: 1px;
  width: 100%;
  background: #ccc;
  margin: 15px 0 10px;
}

.sub-menu-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #525252;
  margin: 12px 0;
}

.sub-menu-link p {
  width: 100%;
}

.sub-menu-link img {
  width: 40px;
  background: #e5e5e5;
  border-radius: 50%;
  padding: 8px;
  margin-right: 15px;
}


.sub-menu-link span {
  font-size: 18px;
  transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.sub-menu-link:hover span {
  transform: translateX(5px);
}

.sub-menu-link:hover p {
  font-weight: 600;
}

.plus-button {
  font-size: 30px;
  /* change this value to adjust the size of the button */
  padding: 8px 12px;
  /* change this value to adjust the padding of the button */
  background-color: #4CAF50;
  /* change this value to adjust the background color of the button */
  border: none;
  /* remove the border to make the button look like a simple symbol */
  color: white;
  /* change this value to adjust the color of the button text */
  cursor: pointer;
  border-radius: 50px;
  margin: 0;
  align-items: center;
  border-radius: 50%;
  /* makes the button round */
  position: fixed;
  bottom: 70px;
  right: 20px;
  transform: translate(-50%, 50%);
}

/* hover effect */
.plus-button:hover {
  background-color: #3e8e41;
  /* change this value to adjust the background color when the button is hovered over */
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #fff;
}

.search {
  position: relative;
  top: 10px;
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 60px;
  transition: 0.5s;
  box-shadow: 0 0 0 5px lightblue;
  overflow: hidden;
}

.search.active {
  width: 300px;
}

.search .icon {
  position: absolute;
  top: 5px;
  left: 0;
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  cursor: pointer;
}

.search .icon::before {
  position: absolute;
  content: '';
  width: 15px;
  height: 15px;
  border: 3px solid #287dfc;
  border-radius: 80%;
  transform: translate(-4px, -4px);
}

.search .icon::after {
  position: absolute;
  content: '';
  width: 3px;
  height: 12px;
  background: #287dfc;
  transform: translate(6px, 6px) rotate(315deg);
}

.search .input {
  position: relative;
  width: 360px;
  height: 60px;
  left: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search .input input {
  position: absolute;
  top: -8px;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 10px 0;
}

.clear {
  position: absolute;
  top: 40%;
  transform: translate(-50%);
  width: 15px;
  height: 15px;
  right: 15px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clear::before {
  position: absolute;
  content: '';
  width: 1px;
  height: 15px;
  background: #999;
  transform: rotate(45deg);
}

.clear::after {
  position: absolute;
  content: '';
  width: 1px;
  height: 15px;
  background: #999;
  transform: rotate(-45deg);
}